* { box-sizing: border-box;}

[class^="box"] {
    color: black;

}


@font-face {
  font-family: Open;
  src: url("Open_Sans.zip");
  font-weight: bold;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.links {
    display: flex;
    background-color:hwb(226 18% 73%);
}
.homepage {
    border-color: white;
}

.the-first-hero {
    display: flex;
    background-image: url("img11.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 20%;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#ffffff;
    padding: 10%;
}

.headline-trio {
    display: flex;
    background-position: center;
    float: center;
    flex-direction: row;
    padding: 1%;
}
.headline-trio p {
    display: flex;
    float: left;
    padding: 1%;
    float: left;
}
.headline1 {
    display: flex;
    flex-direction: column;
    width: 40%;
    float: left;
    background-color: #cecece;
    padding: 14%;
}
.headline2 {
    display: flex;
    flex-direction: column;
    width: 40%;
    float: center;
    background-color: #cecece;
    padding: 14%;
}
.headline3 {
    display: flex;
    flex-direction: column;
    width: 40%;
    float: right;
    background-color: #cecece;
    padding: 14%;
}

.twin-columns {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.twin1 {
    align-self: flex-start;
    background-color: #cecece;
    padding: 5%;
}
.twin2 {
    align-self: flex-start;
    background-color: #cecece;
    padding: 5%;
}


.the-second-hero {
    display: flex;
    background-image: url("img13.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 20%;
}

.the-columns {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.column12 {
    align-self: flex-start;
    background-color: #cecece;
    padding: 5%;
}
.column13 {
    align-self: flex-start;
    background-color: #cecece;
    padding: 5%;
}
.column14 {
    align-self: flex-start;
    background-color: #cecece;
    padding: 5%;
}
.column15 {
    align-self: flex-start;
    background-color: #cecece;
    padding: 5%;
}
